<div class="table-view">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="search" ng-model="filter.name">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
    </div>
    <div class="row margin-top-15">
        <div class="col-md-12 table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr ng-init="order = 'name'; asc = false">
                        <th style="cursor: pointer" ng-click="order = 'name'; asc = asc ? false : true">File Name <i ng-show="order == 'name'" class="glyphicon glyphicon-chevron-{{asc ? 'down' : 'up'}}"></i></th>
                        <th style="cursor: pointer" ng-click="order = 'type'; asc = asc ? false : true">File Type <i ng-show="order == 'type'" class="glyphicon glyphicon-chevron-{{asc ? 'down' : 'up'}}"></i></th>
                        <th style="cursor: pointer" ng-click="order = 'data.length'; asc = asc ? false : true">Size (Kb) <i ng-show="order == 'data.length'" class="glyphicon glyphicon-chevron-{{asc ? 'down' : 'up'}}"></i></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-repeat" ng-repeat="file in files | filter:filter | orderBy:order:asc">
                        <td>{{ file.name }}</td>
                        <td>{{ file.type }}</td>
                        <td>{{ fileSize(file) | number }}</td>
                        <td>
                            <div class="action">
                                <a href="javascript:" ng-click="bookmark(file)"><i class="glyphicon glyphicon-star" ng-style="{color: file.bookmarked ? 'darkorange' : 'darkgrey'}"></i></a>
                                <button type="button" class="btn btn-default btn-sm" ng-click="download(file)"><i class="glyphicon glyphicon-download-alt"></i> Download</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="preview(file)" ng-if="file.type!=='text'"><i class="glyphicon glyphicon-eye-open"></i> Preview</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="edit(file)" ng-if="file.type!=='image'"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                                <!--Select file by clicking the row-->
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row margin-top-15">
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block" ng-class="{active: !filter.bookmarked}" ng-click="filter={name: filter.name}"><i class="glyphicon glyphicon-list"></i> File List</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block" ng-class="{active: filter.bookmarked}" ng-click="filter.bookmarked=true"><i class="glyphicon glyphicon-bookmark"></i> Bookmarks</button>
        </div>
        <div class="col-md-2 col-md-offset-4">
            <button type="button" class="btn btn-default btn-block" ng-click="upload()"><i class="glyphicon glyphicon-arrow-up"></i> Upload</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-plus"></i> Create New</button>
        </div>
    </div>
</div>